@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Open+Sans:wght@400;500;600;700&family=Quicksand&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    line-height: 20px;
    background: #FFEBCD;
    color: #2F4F4F;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: blueviolet;
}

.container {
    max-width: 750px;
    margin: auto;
    padding-top: 30px;
}

.avatar {
    width: 200px;
    border-radius: 20px;
    margin: 20px;
}

.info {
    margin-bottom: 20px;
}

.info-text {
    margin-left: 45px;
}

.info-text p {
    font-style: italic;
    color: black;
    margin: 0px;
}

.info-text h4 {
margin-bottom: 10px;
}

@media (max-width: 580) {
    .info {
        display: block;
        text-align: center;
    }
}

.card {
    border-radius: 20px; 
    padding: 15px;
    margin-bottom: 15px;
}

.bg-green {
    background: #f0ffff;
}

.btn {
    background: #2F4F4F;
    padding: 5px;
    border: none;
    font-family: inherit;
    cursor: pointer;
    border-radius: 3px;
}

.btn:hover {
    opacity: 0.7;
}

.List {
    padding: 0 15px;
}

.table {
    width: 100%;
}

.table td {
    padding-bottom: 5px;
}

.form h2 {
    text-align: center;
}

.form-group label {
    display: block;
}

.form-group input,
.form-group textarea {
    width: 100%;
    border: none;
    background: transparent;
    color: #000;
    padding: 10px 0 10px;
}